{% extends "base.html" %}


{% block blogreg %}
    <h1><center> Create a Blog</center></h1>
    <form action='/blogreg' method='POST' novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}
            {% for error in form.title.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.message.label }}<br>
            {{ form.message(size=100) }}
            {% for error in form.message.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        
        <p>              
            {{ form.user_id.label }}<br>
            {{ form.user_id(size=32) }}
            {% for error in form.user_id.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

