{% extends "base.html" %}


{% block register %}
    <h1><center>Registration Form</center></h1>
    <form action='/register' method='POST' novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        
        <p>              
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
            {% for error in form.email.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
       
        <p>
            {{ form.accntno.label }}<br>
            {{ form.accntno(size=32) }}
            {% for error in form.accntno.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        
        <p>
            {{ form.ifsccode.label }}<br>
            {{ form.ifsccode(size=32) }}
            {% for error in form.ifsccode.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.payment_type.label }}<br>
            {{ form.payment_type }}
            {% for error in form.payment_type.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.transaction_type.label }}<br>
            {{ form.transaction_type}}
            {% for error in form.transaction_type.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        
        <p>
            {{ form.password.label}}<br>
            {{ form.password(size=40) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        
        <p>
            {{ form.confirmpassword.label }}<br>
            {{ form.confirmpassword(size=32) }}
            {% for error in form.confirmpassword.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        
        <p>
            {{ form.usertype(size=32) }}
            {% for error in form.usertype.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}